* {
  box-sizing: border-box;
}

body{
  width: 100%;
  margin: 0 auto;
}

.container-cms{
  width: 90%;
  margin: 0 auto;
}

.container-res{
  width: 90%;
  margin: 0 auto;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.content-container{
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  font-size: 20px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #BB33FF;
  color: white;
}

div.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  margin-left: 6%;
  width: 95%;
}

.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 290px;
}

.gallery img:hover{
  transform: scale(1.1);
}

/*home page*/

.dala3{
  flex-basis: calc(100% / 12 * 4);
}

.dala2{
  flex-basis: 50%;
  border-bottom: 20px;
}

.dala{
  flex-basis: 100%;
}

div.map {
  flex-basis: 50%;
  height: 220px;
}

.map2 {
  display: block;
  width: 350px;
  height: 200px;
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.7;
  float: none;
  width: 100%;
}

div.fixed-bg {
  background-image: url("../img/fons.jpg");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.img2 {
  flex-basis: calc(100% / 12 * 4);
  text-align: center;
}

.img3 {
  flex-basis: 50%;
  border-bottom: 20px;
  text-align: center;
}

.img4 {
  text-align: right;
}

.head {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.head2 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.daeh {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.pp {
  text-align: center;
}

footer.feet {
  background-color: lightgray;
}

.map {
  width: 400px;
  height: 250px;
}

.col-1{
  flex-basis: calc(100% / 12 * 1);
}
.col-2{
  flex-basis: calc(100% / 12 * 2);
}
.col-3{
  flex-basis: 25%;
}
.col-4{
  flex-basis: calc(100% / 12 * 4);
}
.col-5{
  flex-basis: calc(100% / 12 * 5);
}
.col-6{
  flex-basis: 50%;
}
.col-7{
  flex-basis: calc(100% / 12 * 7);
}
.col-8{
  flex-basis: calc(100% / 12 * 8);
}
.col-9{
  flex-basis: 75%;
}
.col-10{
  flex-basis: calc(100% / 12 * 10);
}
.col-11{
  flex-basis: calc(100% / 12 * 11);
}
.col-12{
  flex-basis: 100%;
}

/*
For Phones
*/

@media screen and (min-width: 250px) and (max-width: 767px) {
.title{
  margin: 0;
  margin-left: 3%;
}

div.topnav a {
  float: grid;
  width: 105%;
  border: 2px solid black;
  border-bottom: 1px solid black;
}

/*Home page*/

div.transbox {
  background-color: #ffffff;
  opacity: 0.7;
  float: none;
  border-style: solid;
  margin-bottom: 10px;
}

.head {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.head2 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.daeh {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.pp {
  text-align: center;
  font-size: 15px;
}

.dala3{
  flex-basis: 100%;
}

.dala2{
  flex-basis: 100%;
}

.map {
  display: block;
  height: 250px;
}

.map2 {
  display: block;
  width: 350px;
  height: 200px;
}

/*
Reservation
*/

div.container-res{
  width: 95%;
}

th {
    height: 30px;
    text-align: center;
}
td {
    height: 50px;
}

.res-info{
  margin: 0 auto;
  padding: 0;
}

.res-info h3{
  margin: 10px 0 0 0;
}

.res-info p{
  margin: 0 0 5px 0;
}

.first-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.last-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.e-mail-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.phone-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.guest-count-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#send-res{
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

/*
Login
*/
#title-login{
  margin-left: 3%;
}

#username{
  border: 1px solid black;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 30px;
  height: 40px;
}

#password{
  border: 1px solid black;
  height: 40px;
  margin-left: 5%;
}

#login-btn{
  height: 40px;
}
/*
CMS
*/

.top-row{
  margin-top: 5%;
  margin-left: 3%;
}

#type-switch{
  margin-left: 3%;
  width: 90px;
  height: 30px;
}

#title1-selection{
  margin-top: 5%;
  border: 1px solid black;
  height: 40px;
}

.img-button{
  margin-top: 3%;
  margin-left: 20px;
  width: 110px;
  height: 30px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 90px;
  height: 30px;
}

#news{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin-top: 3%;
  margin-left: 5%;
  border: 2px solid black;
  height: 200px;
  width: 92%;
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 25%;);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;
}

.mass-dlt-title{
  margin-left: 10px;
  font-size: 25px;
}

.btn-delete{
  margin-top: 20px;
  margin-left: 10%;
  width: 90px;
  height: 30px;
}

.cms-input{
  width: 200px;
  height: 130px;
  margin-left: 10px;
  margin-bottom: 3%;
  border: 1px solid black;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  width: 60%;
  display:block;
  height: auto;
}

/*
Desing for Gallery page
*/

div.gallery img{
  transition: 0.5s;
  padding: 0;
  padding-top: 15px;
  margin: auto;
  margin-left: 7%;
  width: 100%;
  display:block;
  height: auto;
}

div.news-content{
  background-color: lightgray;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

div.text-news{
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  width: 100%;
  margin-left: 5%
}

img.image{
  margin: auto;
  width: 90%;
  display:block;
  height: auto;
  padding-top: 2% ;
}

div h3{
  margin: 4%;
  margin-bottom: 0;
}

div p{
  margin-top: 0;
  text-indent: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  }
}
/*
For Tablets
*/

@media screen and (min-width: 768px){

.title{
  font-size: 30;
  margin: 0;
  margin-left: 5%;
}

.topnav a {
  float: left;
  font-size: 20px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.h1{
  font-size: 35px;
}

div.news-content{
  background-color: lightgray;
  width: 100%;
  margin-top: 2%;
}

div.text-news{
  flex-basis: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery img{
  transition: 0.5s;
  padding: 15px;
  padding-bottom: 0;
  margin: auto;
  width: 90%;
  display:block;
  height: auto;
}

.gallery img:hover{
  transform: scale(1.1);
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  width: 80%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 90%;
  display:block;
  height: auto;
  padding-top: 2% ;
}

div h3{
  margin: 4%;
  margin-bottom: 0;
  font-size: 25px;
}

div p{
  font-size: 20px;
  margin-top: 0;
  text-indent: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

/*
Home page
*/

div.transbox {
  display:block;
  background-color: #ffffff;
  opacity: 0.7;
  height: 275px;
  border-style: solid;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.dala3{
  display: block;
  flex-basis: calc(100% / 12 * 4);
  text-align: center;
  margin-bottom: 15px;
}

div.map {
  flex-basis: 50%;
  height: 300px;
}

.map2 {
  display: block;
  width: 400px;
  height: 250px;
}

footer.feet {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 400px;
}

/*
Reservation
*/

div.container-res{
  width: 80%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    height: 60px;
}

.res-info{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.res-info h3{
  margin: 10px 0 0 0;
}

.res-info p{
  margin: 0 0 5px 0;
}

.first-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.last-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.e-mail-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.phone-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.guest-count-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#send-res{
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

/*
Login
*/

#title-login{
  margin-top: 5%;
  margin-left: 3%;
}

#username{
  border: 1px solid black;
  font-size: 25px;
  margin-left: 5%;
  margin-bottom: 30px;
  height: 40px;
  margin-right: 30%;
}

#password{
  border: 1px solid black;
  font-size: 25px;
  height: 40px;
  margin-left: 5%;
  margin-right: 50%;
  margin-bottom: 30px;
}

#login-btn{
  margin-left: 5%;
  font-size: 25px;
  height: 40px;
}

/*
CMS
*/

.top-row{
  margin-top: 5%;
  margin-left: 3%;
}

#type-switch{
  margin-left: 3%;
  width: 90px;
  height: 30px;
}

#title1-selection{
  margin-top: 3%;
  border: 1px solid black;
}

#news2-container{
  margin-left: 3%
}

#image-container{
  margin-left: 3%;
}

.img-button{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 20px;
  width: 110px;
  height: 30px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 90px;
  height: 30px;
}

#news{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin-top: 3%;
  margin-left: 10%;
  border: 2px solid black;
  height: 90%;
  width: 80%;

}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 25%;);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;

}

.mass-dlt-title{
  margin: 0 auto;
  margin-top: 10%;
  margin-left: 10px;
  font-size: 25px;
}

.btn-delete{
  margin: 0 auto;
  margin-top: 35%;
  margin-left: 10%;
  width: 90px;
  height: 30px;
}

.cms-input{
  border: 1px solid black;
  width: 200px;
  height: 130px;
  margin-left: 10px;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  margin-bottom: 2%;
  width: 55%;
  display:block;
  height: auto;
}
}

/*
For Desktop up to 1080p
*/

@media screen and (min-width: 1024px){

.title{
  margin: 0;
  margin-left: 5%;
}

.topnav a {
  float: left;
  font-size: 20px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

div.news-content{
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.text-news{
  width: 100%;
  margin: 0;
  padding: 0;
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 95%;
  display:block;
  height: auto;
  padding-top: 2%;
}

div h3{
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 0;
}

div p{
  margin-top: 0.3%;
  width: 94%;
  text-indent: 5%;
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
}

/*
Reservation
*/

div.container-res{
  width: 75%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    height: 80px;
}

.res-info{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.res-info h3{
  margin: 10px 0 0 0;
}

.res-info p{
  margin: 0 0 5px 0;
}

.first-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.last-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.e-mail-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.phone-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.guest-count-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#send-res{
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

/*
CMS
*/

.container-cms{
  margin-top: 5%;
  width: 90%;
  margin: 0 auto;
}

.top-row{
  margin-top: 2%;
  margin-left: 3%;
}

label{
  font-size: 19px;
}

button{
  font-size: 17px;
}

input{
  font-size: 17px;
}

select{
  font-size: 17px;
}

div.news-title{
  font-size: 19px;
}

#type-switch{
  margin: 0;
  width: 150px;
  height: 40px;
}

#title1-selection{
  margin-top: 1%;
  width: 150px;
  border: 1px solid black;
}

#news2-container{
  margin-left: 3%
}

#image-container{
  margin-left: 3%;
}

.img-button{
  margin-left: 20px;
  width: 150px;
  height: 40px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 150px;
  height: 40px;
}

.btn-delete{
  margin-top: 20px;
  margin-left: 10%;
  width: 150px;
  height: 40px;
}

#news{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin: 0;
  margin-left: 10%;
  border: 2px solid black;
  height: auto;
  width: 100%;
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 22%);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;
}
.mass-dlt-title{
  margin-top: 50px;
  margin-left: 10px;
  font-size: 25px;
}

.cms-input{
  border: 1px solid black;
  width: 250px;
  height: 200px;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  display:block;
  height: auto;
}

.cms-image:hover{
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
}

/*
Home page
*/

div.map {
  flex-basis: 50%;
  height: 250px;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.map2 {
  display: block;
  width: 500px;
  height: 250px;
}

footer.feet {
  display: block
  background-color: lightgray;
  width: 100%;
  height: 250px;
}
}

/*
For Laptop 768p and up
*/

@media screen and (min-width: 1366px) {

.title{
  font-size: 30px;
  margin: 0;
  margin-left: 5%;
}

div.topnav a {
  float: left;
  font-size: 15px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*
Home page
*/

div.map {
  flex-basis: 50%;
  height: 300px;
}

.map2 {
  display: block;
  width: 550px;
  height: 300px;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

footer.feet {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 300px;
}

/*
Reservation
*/

/*
New css for pop up reservation

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*end of new css*/

div.container-cal{
  width: 90%;
}

div.container-res{
  width: 70%;
}

.res-info{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.res-info h3{
  margin: 10px 0 0 0;
}

.res-info p{
  margin: 0 0 5px 0;
}

.first-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.last-name-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.e-mail-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.phone-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

.guest-count-text{
  border: grey solid 1px;
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

#send-res{
  padding: 0;
  font-size: 18px;
  width: 100%;
  height: 40px;
}

/*
Login
*/

#title-login{
  margin-top: 5%;
  margin-left: 3%;
}

#username{
  border: 1px solid black;
  font-size: 25px;
  margin-left: 5%;
  margin-bottom: 30px;
  height: 40px;
  margin-right: 30%;
}

#password{
  border: 1px solid black;
  font-size: 25px;
  height: 40px;
  margin-left: 5%;
  margin-right: 70%;
  margin-bottom: 30px;
}

#login-btn{
  margin-left: 5%;
  font-size: 25px;
  height: 40px;
}

/*
CMS
*/

.top-row{
  margin-top: 2%;
  margin-left: 3%;
}

#type-switch{
  margin-left: 1%;
  width: 90px;
  height: 30px;
}

#title1-selection{
  margin-top: 2%;
  width: 150px;
  border: 1px solid black;
}

#news2-container{
  margin-left: 3%
}

#image-container{
  margin-left: 3%;
}

.img-button{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20px;
  width: 150px;
  height: 30px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 90px;
  height: 30px;
}

#news{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin-top: 3%;
  margin-left: 10%;
  border: 2px solid black;
  height: auto;
  width: 100%;
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 22%);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;
}

.mass-dlt-title{
  margin-top: 20px;
  margin-left: 10px;
  height: 30px;
  font-size: 25px;
}

.btn-delete{
  margin-top: 20px;
  width: 90px;
  height: 30px;
}

.cms-input{
  border: 1px solid black;
  width: 200px;
  height: 150px;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  margin-bottom: 5%;
  width: 50%;
  display:block;
  height: auto;
}

.cms-image:hover{
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
}

/*
Desing for Gallery page
*/

div.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  margin-left: 7%;
  width: 93%;
}

div.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 290px;
}

div.gallery img:hover{
  transform: scale(1.1);
}

div.news-content{
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.text-news{
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 290px;
}

.gallery img:hover{
  transform: scale(1.1);
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 95%;
  display:block;
  height: auto;
  padding-top: 2% ;
}

div h3{
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 23px;
}

div p{
  margin-top: 0.3%;
  width: 94%;
  text-indent: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px;
  text-align: unset;
}
}

/*
For Desktop 1080p and up
*/

@media screen and (min-width: 1920px) {

.title{
  font-size: 45px;
  margin: 0;
  margin-left: 5%;
}

div.topnav a {
  float: left;
  font-size: 25px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*
Home page
*/

div.map {
  flex-basis: 50%;
  height: 350px;
}

.map2 {
  display: block;
  width: 650px;
  height: 350px;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

footer.feet {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 350px;
}

/*
CMS
*/


.top-row{
  margin-top: 2%;
  margin-left: 3%;
}

label{
  font-size: 19px;
}

button{
  font-size: 17px;
}

input{
  font-size: 17px;
}

select{
  font-size: 17px;
}

div.news-title{
  font-size: 19px;
}

#type-switch{
  margin: 0;
  width: 150px;
  height: 40px;
}

#title1-selection{
  margin-top: 1%;
  width: 150px;
  border: 1px solid black;
}

#news2-container{
  margin-left: 3%
}

#image-container{
  margin-left: 3%;
}

.img-button{
  margin-left: 20px;
  width: 150px;
  height: 40px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 150px;
  height: 40px;
}

.btn-delete{
  margin-top: 20px;
  margin-left: 10%;
  width: 150px;
  height: 40px;
}

#news{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin-top: 3%;
  margin-left: 10%;
  border: 2px solid black;
  height: auto;
  width: 100%;
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 22%);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;
}
.mass-dlt-title{
  margin-top: 30px;
  margin-left: 10px;
  font-size: 25px;
}

.cms-input{
  border: 1px solid black;
  width: 250px;
  height: 200px;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  margin-bottom: 5%;
  width: 60%;
  display:block;
  height: auto;
}

.cms-image:hover{
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

/*
Desing for Gallery page
*/
div.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  margin-left: 6%;
  width: 95%;
}

div.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 420px;
}

div.news-content{
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.text-news{
  width: 100%;
  margin: 0;
  padding: 0;
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 95%;
  display:block;
  height: auto;
  padding-top: 2%;
}

div h3{
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 30px;
}

div p{
  margin-top: 0.3%;
  width: 94%;
  text-indent: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 25px;
}

/*caledar*/

th {
    height: 30px;
    text-align: center;
}

td {
    height: 100px;
}

}

/*
For Desktop 2K and up
*/

@media screen and (min-width: 2560px) {

.title{
  font-size: 60px;
  margin: 0;
  margin-left: 5%;
}

div.topnav a {
  float: left;
  font-size: 35px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*
Login
*/

#title-login{
  margin-top: 2%;
  margin-left: 2%;
  font-size: 35px;
}

#username{
  border: 1px solid black;
  font-size: 35px;
  margin-left: 5%;
  margin-bottom: 30px;
  height: 50px;
  width: 400px;
  margin-right: 30%;
}

#password{
  border: 1px solid black;
  font-size: 35px;
  height: 50px;
  width: 400px;
  margin-left: 5%;
  margin-right: 80%;
  margin-bottom: 30px;
}

#login-btn{
  margin-left: 5%;
  font-size: 35px;
  height: 50px;
  width: auto;
}

/*
Home page
*/

div.map {
  flex-basis: 50%;
  height: 350px;
}

.map2 {
  display: block;
  width: 700px;
  height: 350px;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

footer.feet {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 350px;
}

/*
Desing for Gallery page
*/

div.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  margin-left: 6%;
  width: 95%;
}

div.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 560px;
}

div.news-content{
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.text-news{
  width: 100%;
  margin: 0;
  padding: 0;
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 95%;
  display:block;
  height: auto;
  padding-top: 2% ;
}

div h3{
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 50px;
}
div p{
  margin-top: 0.3%;
  width: 94%;
  text-indent: 5%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 32px;
  text-align: justify;
}

/*caledar*/

th {
    height: 30px;
    text-align: center;
}

td {
    height: 150px;
}

}

/*
For Desktop 4K and up
*/

@media screen and (min-width: 3840px) {

.title{
  font-size: 100px;
  margin: 0;
  margin-left: 5%;
}

div.topnav a {
  float: left;
  font-size: 55px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px;
  text-decoration: none;
  border: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/*
Home page
*/

div.map {
  flex-basis: 50%;
  height: 450px;
}

.map2 {
  display: block;
  width: 1000px;
  height: 450px;
}

.dala2{
  display: block;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 15px;
}

footer.feet {
  display: block;
  background-color: lightgray;
  width: 100%;
  height: 450px;
}

/*
Login
*/

#title-login{
  margin-top: 2%;
  margin-left: 2%;
  font-size: 50px;
}

#username{
  border: 1px solid black;
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: 30px;
  height: 80px;
  width: 500px;
  margin-right: 30%;
}

#password{
  border: 1px solid black;
  font-size: 50px;
  height: 80px;
  width: 500px;
  margin-left: 5%;
  margin-right: 80%;
  margin-bottom: 30px;
}

#login-btn{
  margin-left: 5%;
  font-size: 50px;
  height: 80px;
  width: auto;
}

/*
CMS
*/

.container-cms{
  width: 95%;
  margin: 0 auto;
}

.top-row{
  margin-top: 1%;
  margin-left: 1.5%;
}

label{
  font-size: 35px;
}

button{
  font-size: 30px;
}

input{
  font-size: 30px;
}

select{
  font-size: 30px;
}

div.suggest{
  font-size: 35px;
}

div.news-title{
  font-size: 35px;
}

#type-switch{
  margin: 0;
  width: 250px;
  height: 80px;
  max-width: 250px;
}

#title1-selection{
  margin-top: 1%;
  border: 2px solid black;
  width: 550px;
}

#news-label{
  margin-right: 0.4%;
}

.img-button{
  margin-left: 0.8%;
  width: 250px;
  height: 80px;
}

.save{
  margin-top: 20px;
  margin-left: 3%;
  width: 250px;
  height: 80px;
}

.btn-delete{
  margin-top: 20px;
  margin-left: 10%;
  width: 250px;
  height: 80px;
}

#news{
  font-size: 35px;
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
}

#gallery{
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  padding: 10px;
}

.news-output{
  padding: 5px;
  margin-top: 3%;
  margin-left: 10%;
  border: 2px solid black;
  height: auto;
  width: 100%;
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 , 22%);
  grid-gap: 2%;
}

.cms-container{
  width: 100%;
}

.mass-dlt-title{
  margin-left: 10px;
  font-size: 45px;
}

.cms-input{
  border: 2px solid black;
  width: 550px;
  height: 350px;
}

.cms-image{
  border-radius: 8px;
  margin: auto;
  margin-bottom: 5%;
  width: 70%;
  display:block;
  height: auto;
}

.cms-image:hover{
  color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
}

/*
Desing for Gallery page
*/

div.gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
  margin-left: 6%;
  width: 95%;
}

div.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 840px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a.active {
  background-color: #BB33FF;
  color: white;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  transition: 0.5s;
  padding: 15px;
  width: 290px;
}

.gallery img:hover{
  transform: scale(1.1);
}

div.news-content{
  background-color: lightgray;
  width: 80%;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.text-news{
  width: 100%;
  margin: 0;
  padding: 0;
}

if(image-news == empty){
  display: none;
}
else{
  flex-basis: 100%;
  margin-left: 5%;
  height: auto;
}

img.image{
  margin: auto;
  width: 95%;
  display:block;
  height: auto;
}

div h3{
  margin: 3%;
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 80px;
}

div p{
  width: 94%;
  text-indent: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 50px;
  text-align: justify;
}

th {
    height: 30px;
    text-align: center;
}

td {
    height: 200px;
}

}
